<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar"
               data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="brand pull-right">site</span>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/site"><strong>Index</strong></a>
                    </li>
                    <li class="active">
                        <a href="/site/other"><strong>Other</strong></a>
                    </li>
                    <li>
                        <a href="/site/inner"><strong>Inner</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="well">
    <code class="pull-right"><h4>site/other</h4></code>
    <dl class="dl-horizontal">
        <dt>cid</dt>
        <dd><code>{{cid}}</code></dd>

        <dt>timestamp</dt>
        <dd><code>{{timestamp}}</code></dd>

        <dt>container</dt>
        <dd><code>{{container}}</code></dd>
    </dl>
</div>
