<div class="hero-unit">
    <div class="page-header">
        <h1>Composing <small>with <strong>Chaplin</strong></small></h1>
    </div>
    <p>
        <a href="/site" class="btn btn-inverse btn-large">
            <strong>Explore</strong>
        </a>
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>cid</dt>
        <dd><code>{{cid}}</code></dd>

        <dt>timestamp</dt>
        <dd><code>{{timestamp}}</code></dd>

        <dt>container</dt>
        <dd><code>{{container}}</code></dd>
    </dl>
</div>
