<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar"
               data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/">Index</a>
                    </li>
                    <li class="active">
                        <a href="/other">Other</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p>
    This is an alternate view!!!  AMAZING!
</p>
<div>{{name}}</div>
<div>{{value}}</div>
